<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Template View</title>
</head>

<body>
    <!-- {% debug %} -->

    <!-- {% with firstName='Mohammad Ali' %}
    <h1>Hello {{ firstName }}</h1>
    {% endwith %}

    {% if name == 'Ali'%}
    <h1>{{ name }} is found</h1>

    {% else %}
    <h1>{{ name }} is not found</h1>
    {% endif %}

    {{ name|default:'Hello' }} -->


    {% with result=0 %}
    <h1>Result is {{ result }}</h1>

    {% for i in number %}
    <h4>{{ i }}</h4>
    {% endfor %}

    {% endwith %}

    <!-- <pre>{{ name|pprint }}</pre>
    <pre>{{ number|default:'Hello'|pprint }}</pre> -->



    <!-- {% with name='Mohammad Ali Khan Jinnah' %}
    <h1>{{ name|default:'Nothing'|lower }}</h1>
    {% endwith %} -->


</body>

</html>